{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Escuela de Informatica - UASD{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../static/css/EIF.CSS" rel="stylesheet">
        <!--<style type="text/css">
            .nav {
                padding-left: 0;
                text-align: center;
                background: #131313;
                border-radius: 15px;
                color: #ffffff;
            }
            .nav a {
                color: #ffffff;
                text-decoration: none;
            }
            .nav li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
        </style>-->
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
    <header>
        {% static_placeholder "Header" %}
    </header>
        
        <div class="container-fluid" style="background-image: url(https://uasd.edu.do/wp-content/themes/pagina/img/fondo_logo_facultades.png); background-color: #00baec;">
        <!-- <ul class="nav">
             {% show_menu 0 100 100 100 %}
             </ul>
        -->
            {% block content %}{% endblock content %}
        
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        {% placeholder "grid_placeholder" %}

        <div class="row">
                  <div class="col-md-4">
                    {% block hello %}{% endblock hello %}
                  </div>
    
            </div>
    <footer>
        {% static_placeholder 'footer' %}
    </footer>
        {% render_block "js" %}

        <!-- Integracion de librerias JQuery de Bootstrap -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    </body>
</html>
