<html>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div >  
        
        <a href="/">HOME<a>
        <h1>{{ noticia.Titulo }}</h1>
        <h1>{{ noticia.Slug }}</h1>
        <p >{{ noticia.Subtitulo }}</p>
        <p >{{ noticia.Autor }}</p>
        <p >{{ noticia.Categorias }}</p>
        <p >{{ noticia.Tags}}</p>
        <p >{{ noticia.Creado }}</p>
        <p >{{ noticia.Actualizado }}</p>
        <p><img src="{{ noticia.Imagen.url }}" alt="..."  height="100%" width="100%"></p>
        <p >{{ noticia.Descripcion|safe }}</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>     