<head>
  <link href="/static/css/EIF.CSS" rel="stylesheet">
</head>

<html>
<div class="container-fluid noti">
  {% for x in noticiaslistado %}
  <div class="row ">
    <div class="col-sm-4">
      <div class="grid gap-3">
        <a href="/{{x.Slug}}"><img class="p-4 g-col-6" src="{{x.Imagen.url}}" alt="..."  height="260px" width="100%"></a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="grid gap-3 p-4 g-col-6">
          <p ><a href="/{{x.Slug}}" class="titulostyle2">{{ x.Titulo }}</a></p>
          <p class="descripcionstyle2">{{x.Descripcion|truncatewords:35}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Autor: {{x.Autor}}</p>
        </div>
        <div class="col-3">
          <p>Categoria: {{x.Categorias}}</p>
        </div>
        <div class="col-3">
          <p>Creado: {{x.Creado|date:"d/M/Y" }}</p>
        </div>
        <div class="col-3">
          <p>Actualizado: {{x.Actualizado|date:"d/M/Y" }}</p>
        </div>
      </div>
    </div>
    <div > 
        <div>
          <a href="/{{x.Slug}}" class="btn btn-primary">Ver más...</a>
       </div>
    </div>
  </div>  
  {% endfor %}
</div>
</html>     