
<html>
<div class="container-fluid">
  <div class="row">
    {% for x in noticias %}
    <div class="col-sm-3">
      <div >
        <div class="categoriasstyle">{{x.Categorias}}</div>
        <div >
          <img src="{{x.Imagen.url}}" alt="..."  height="180px" width="100%">
          <div >  
            <p class="titulostyle">{{ x.Titulo }}</p>
            <p class="descripcionstyle">{{x.Descripcion|truncatewords:30}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
            <a href="/{{x.Slug}}" class="btn btn-primary">Ver más...</a>
        </div>
      </div>
    </div> 
    {% endfor %}
  </div>
</div>
</html>     